/* google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* utilities/ common or base styles here */
* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.primary-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
}




/* navbar styles here */
nav {
    padding: 50px 240px 100px 240px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navbar a {
    text-decoration: none;
    margin-left: 40px;
    color: #424242;
}

/* banner styles here */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
}

.banner-details {
    margin-bottom: 50px;
}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

/* features styles here */
.features {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}

.title-special-gray {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.title-special-orange {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* work section */
.experience {
    position: relative;
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.works-title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 10px;
    border-left: 5px solid #FF900E;
    margin-bottom: 25px;
}

.work {
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.work-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.experience-btn {
    text-align: center;
    padding: 50px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 32%;
}

.experience-btn>h2 {
    font-weight: 700;
    font-size: 65px;

}

/* facts section styles here */
.facts {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fact {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
}
.fact:hover{
    background-color: rgba(255, 144, 14, 0.1);
}

.fact img {}

.fact-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact-info {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* sponsors section here */

.sponsors-details{
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-images {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
/* footer here */
.footer-content{
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 144, 14, 0.1);
}


/* media for mobile responsiveness */

@media screen and (max-width: 576px) {
    .container{
        padding: 10px;
    }
    /* banner and navbar */
    nav {
        display: none;
    }

    .banner {
        padding: 0 10px;
    }

    .banner-title {
        text-align: start;
        font-size: 40px;
        color: #131313;
        margin-bottom: 10px;
    }

    .banner-image img {
        width: 100%;
    }

    /* features section */
    .features {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .features-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    /* experince section */
    .works {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .exp-img img {
        width: 100%;
    }

    .experience-btn {
        position: static;
        margin-left: 20px;
    }
    /* facts section here */
    .facts {
        flex-direction: column;
        gap: 20px;
    }
    .fact {
        width: 200px;
    }
    /* sponsors section */
    .sponsors-images {
        flex-direction: column;
        gap: 30px;
   }
}